*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    background-color: darkslategrey;
}
.container{
    width: 500px;
    height: 500px;
    background-color: orchid;
    margin: 0 auto;
    overflow: hidden;
}
.box{
    width:100px;
    height:100px;
    background-color: #fff;
    /* animation-name: x-axis;
    animation-duration: 5s;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite; */
}
/* @keyframes x-axis {
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(500px);
    }
} */